/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.animalImage {
  height: 50%;
}

.individualAnimal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 5px solid rgba(20, 220, 255, 0.502);
  background-color: deeppink;
  border-radius: 11px;
  margin: 30px;
}

.allAnimals {
  display: flex;
  flex-wrap: wrap;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subhead {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: .8rem;
  font-style: italic;
  width: 80%;
  color: aliceblue;
}

h5 {
  margin: 1rem;
  padding: 0;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
}